body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f7f7;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    height: auto;
}

h1 {
    font-size: 28px;
    color: #2a363b;
    margin-bottom: 20px;
}

.input-container {
    text-align: left;
    margin: 15px 0;
}

label {
    font-size: 16px;
    color: #2a363b;
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 12px;
    margin: 5px 0;
    border: 1px solid #b7d3d4;
    border-radius: 5px;
}

button {
    width: 100%;
    background-color: #4abdac;
    color: #ffffff;
    border: none;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}

button:hover {
    background-color: #368f8b;
}

.result-container {
    margin-top: 20px;
}

p {
    font-size: 24px;
    color: #2a363b;
    margin: 0;
}
